@model IEnumerable<DressCode.Models.Artikal>

@{
    ViewData["Title"] = "Lista artikala";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Dodaj novi artikal</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materijal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Velicina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Opis)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materijal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Velicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                <form asp-action="DodajUKorpu" asp-route-id="@item.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-outline-primary">
                        Dodaj u korpu
                    </button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>
