@model DressCode.Models.KorpaViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UkupnaCijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAktivna)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(model => model.UkupnaCijena)
            </td>
            <td>
                @Html.DisplayFor(model => model.IsAktivna)
            </td>
            <td>
                @foreach (var stavka in Model.Stavke)
                {
                    <p>@stavka.ArtikalNaziv - @stavka.Kolicina x @stavka.CijenaPoKomadu = @stavka.Ukupno</p>
                }
                <a asp-action="Edit" asp-route-id="@Model.KorpaId">Edit</a> |
                <a asp-action="Details" asp-route-id="@Model.KorpaId">Details</a> |
                <a asp-action="Delete" asp-route-id="@Model.KorpaId">Delete</a>
            </td>
        </tr>
    </tbody>

</table>
